In [10]:
s1 = "?name=Bob&age=99&day=Wed"
s2 = "?name=Adam&age=34&day=Tue"
# [('name', 'Bob'), ('age', 99), ('day', 'Wed')

In [12]:
s1[::-1]

'deW=yad&99=ega&boB=eman?'

In [24]:
def string_tranformation(s):
    s_prime = s.split("&")
    for item in s_list:
        item = item.split("=")
        print(item)

In [26]:
string_tranformation(s1)
string_tranformation(s2)

['?name', 'Bob']
['age', '99']
['day', 'Wed']
['?name', 'Bob']
['age', '99']
['day', 'Wed']

In [ ]:
s1 = s1.split("&")
print(s_list)
for item in s_list:
    item = item.split("=")
    print(item)
# do more preocessing 


s2 = s2.split("&")
print(s_list)
for item in s_list:
    item = item.split("=")
    print(item)

['?name=Bob', 'age=99', 'day=Wed']
['?name', 'Bob']
['age', '99']
['day', 'Wed']

In [ ]:
s = "?name=Bob&age=99&day=Wed"
print(len(s))
print(s.upper())
print(s.lower())
print(s.split("="))

29
?N12341AME=BOB&AGE=99&DAY=WED
?n12341ame=bob&age=99&day=wed
['?n12341ame', 'Bob&age', '99&day', 'Wed']

In [20]:
s = s.upper()

In [21]:
print(s)
print(s.title())

?N12341AME=BOB&AGE=99&DAY=WED
?N12341Ame=Bob&Age=99&Day=Wed

In [ ]:
"""python 
operator: for, if, +, -, def
variables:, x, y, s 
values: 81, "adshjfla", []
expression is formed by a combination of these elements under the right order/syntax

def func(x, y):
    // do things here
"""
# scope

def func1(x, y):
    pass

def func2(x, y, z):
    pass

def func3(x, y, z):
    return func1(x,y) + func2(x,y,z)

x = 1
y = 2
z = 3

print(func3(x, y, z))

SyntaxError: incomplete input (4043011333.py, line 18)

In [1]:
x = print("hellow world")

hellow world

In [ ]:
x is None

True

In [ ]:
def non_returning_function():
    print(x + y)
def function_test():
    return 1234
x = function_test()
x

1234

In [22]:
lst = [1,3,2,4]
lst.sort(reverse=False)

In [ ]:
# lst.reverse()

In [23]:
print(lst)

[1, 2, 3, 4]

In [28]:
from operator import itemgetter
lst = [("name", 3), ("age", 22), ("randomthing", 44)]
lst.sort(key=itemgetter(1))

In [29]:
lst

[('name', 3), ('age', 22), ('randomthing', 44)]

In [34]:
data = [['Derek', 7], ['Carrie', 8], ['Bob', 6],['Adam', 6], ['Aaron', 9]]
data.sort(key=itemgetter(1, 0))
data

[['Adam', 6], ['Bob', 6], ['Derek', 7], ['Carrie', 8], ['Aaron', 9]]

In [35]:
set([1,2,2,3,4])

{1, 2, 3, 4}

In [36]:
lst = [1,2,3,4]
def increment_first_elemetn(lst):
    lst[0] += 1
increment_first_elemetn(lst)
print(lst)

[2, 2, 3, 4]

In [ ]:
tup = (1,2,3,4)
lst = [1,2,3,4]
print(tup[1])

2